<div class="row" style="background-color: cadetblue">



  <div class="col-md-6 mx-auto">
    <div class="card card-body" style="margin-top: 20px">

      <h3>User Signup </h3>
      <form [formGroup]="signupForm" (ngSubmit)="onSignupFormSubmit()">

        <div class="form-group">
          <label for="first-name">First Name</label>
          <input type="text" class="form-control" id="first-name" name="first_Name" formControlName="firstName" [(ngModel)]="user.firstName"
            placeholder="first name">

          <div *ngIf="signupForm.controls.firstName?.touched && signupForm.controls.firstName?.invalid" style="color: red">
            <div *ngIf="signupForm.controls.firstName.errors?.required">First name is required</div>
            <div *ngIf="signupForm.controls.firstName.errors?.isInputEmpty">First name cannot be empty </div>
          </div>

        </div>
        <div class="form-group">
          <label for="last-name">Last Name</label>
          <input type="text" class="form-control" id="last-name" name="last_Name" formControlName="lastName" [(ngModel)]="user.lastName"
            placeholder="last name">

          <div *ngIf="signupForm.controls.lastName?.touched && signupForm.controls.lastName?.invalid" style="color: red ">
            <div *ngIf="signupForm.controls.lastName.errors?.required">Last name is required</div>
            <div *ngIf="signupForm.controls.lastName.errors?.isInputEmpty">Last name cannot be empty </div>
          </div>
        </div>

        <div class="form-group ">
          <label for="user-name ">Username</label>
          <input type="text " class="form-control " id="user-name" (keyup)="onCheckUserName($event)" name="user_Name" formControlName="userName"
            [(ngModel)]="user.userName" placeholder=" Mark Zakarbarg etc ">

          <div *ngIf="checkUserName?.status=='200' " style="color: green "> {{checkUserName?.message}}</div>
          <div *ngIf="checkUserName?.status=='404' " style="color: red "> {{checkUserName?.message}}</div>

          <div *ngIf="signupForm.controls.userName?.touched && signupForm.controls.userName?.invalid" style="color: red ">
            <div *ngIf="signupForm.controls.userName.errors?.required">User name is required</div>
            <div *ngIf="signupForm.controls.userName.errors?.isInputEmpty">user name cannot be empty </div>
          </div>
        </div>

        <div class="form-group ">
          <label for="exampleInputEmail1 ">Email address</label>
          <input type="email " class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp " name="email_" formControlName="email"
            [(ngModel)]="user.email" placeholder="abc@gmai.com etc.">

          <div *ngIf="signupForm.controls.email?.touched && signupForm.controls.email?.invalid " style="color: red ">
            <div *ngIf="signupForm.controls.email.errors?.email">Enter valid email pattern e.g abc@gmail.com</div>
            <div *ngIf="!signupForm.controls.email.errors?.requied">email field is required.</div>
          </div>
        </div>

        <div [formGroup]="passwordFormGroup">

          <div class="form-group ">
            <label for="exampleInputPassword1 ">Password</label>
            <input type="password " class="form-control " id="exampleInputPassword1 " formControlName="password" [(ngModel)]="user.password"
              name="password_" placeholder="LOckIt_!23">

            <div *ngIf="passwordFormGroup?.touched && passwordFormGroup?.invalid" style="color: red ">
              <div *ngIf="passwordFormGroup.controls.password.errors?.required">password is requied</div>
              <div *ngIf="passwordFormGroup.controls.password.errors?.isInputEmpty">password cannot be empty </div>

              <div *ngIf="passwordFormGroup.errors?.doesNotMatchPassword">password does not match</div>
              <div *ngIf="passwordFormGroup.errors?.doesNotMatchPassword == false" style="color: green">passwords successfully matched </div>

            </div>
          </div>

          <div class="form-group ">
            <label for="repeat-Password ">Repeat Password</label>
            <input type="password " class="form-control " id="repeat-Password " formControlName="repeatPassword" [(ngModel)]="user.repeatPassword"
              name="repeat_Password" placeholder="repeat above password here">

            <div *ngIf="passwordFormGroup?.touched && passwordFormGroup?.invalid" style="color: red ">
              <div *ngIf="passwordFormGroup.controls.repeatPassword.errors?.required">password is requied</div>
              <div *ngIf="passwordFormGroup.controls.repeatPassword.errors?.isInputEmpty">password cannot be empty</div>

              <div *ngIf="passwordFormGroup.errors?.doesNotMatchPassword">passwords does not match</div>
              <div *ngIf="passwordFormGroup.errors?.doesNotMatchPassword ===  false" style="color: green">passwords successfully matched </div>
            </div>
          </div>

        </div>

        <button [disabled]=" signupForm.invalid || (passwordFormGroup.errors?.doesNotMatchPassword === true) || checkUserName.status == '404'"
          type="submit" class="btn btn-primary
      " style="margin-right: 10px ">Signup</button>
        <button type="submit " class="btn btn-primary " routerLink="/signin">Go for Signin </button>
        <button type="submit " class="btn btn-primary " routerLink="/" style="margin-left: 10px ">Home </button>

        <div [ngClass]="alert.class" styel="margin: 10px">{{alert.message}}</div>

      </form>

    </div>
  </div>
</div>
