.example-card {
  max-width: 500px;
  margin: 40px;
}

.container {
  margin-left: 300px
}

.postBox {
  max-width: 600px;
  margin-left: 260px;
  margin-top: 20px;
  border-radius: 100px
}

.post-buttons {
  margin-top: 10px
}

.text-area {
  border-radius: 200px
}

.post-button {
  border-radius: 40px;
  float: right;
}

.post-attach-images {
  border-radius: 40px;
  border-radius: white;
}

.post-attach-videos {
  border-radius: 40px;
  margin-left: 5px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
