<app-nav-bar></app-nav-bar>


<mat-card class="postBox">
  <textarea class="text-area" placeholder="Whats happenings?" class="form-control"></textarea>
  <br>
  <mat-divider></mat-divider>
  <div class="post-buttons">
    <button class="post-button" mat-flat-button color="primary">Post</button>
    <button class="post-attach-images" mat-stroked-button color="primary">images</button>
    <button class="post-attach-videos" mat-stroked-button color="primary">Videos</button>

  </div>

</mat-card>



<div class="row">
  <div class="col-md-8 mx-auto">

    <mat-card class="example-card" *ngFor="let post of posts">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{post._posted_by.firstName }} {{post._posted_by.lastName}}</mat-card-title>
        <mat-card-subtitle>{{post.created_date | date : 'longDate'}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="post.files[0]" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          {{post.content }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>


  </div>

</div>
